*.bak
*.swp
.env
node_modules/
nvim/.config/nvim/.netrwhist
out/
rtx/.config/rtx/trusted-configs/
tmux/.config/tmux/plugins
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo*

obs/.config/obs-studio/*
!obs/.config/obs-studio/basic
obs/.config/obs-studio/basic/profiles/wamberg/service.json
.aider*
!aider/.aider.conf.yml
