*.swp
*.bak
node_modules/
nvim/.config/coc/commands
nvim/.config/coc/extensions/coc-go-data/
nvim/.config/coc/extensions/db.json
nvim/.config/coc/history.json
nvim/.config/coc/list-location-history.json
nvim/.config/coc/list-snippets-history.json
nvim/.config/coc/memos.json
nvim/.config/coc/mru
nvim/.config/coc/snippets-mru
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugin/packer_compiled.lua
tmux/.config/tmux/plugins
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo*

obs/.config/obs-studio/*
!obs/.config/obs-studio/basic
