*.bak
*.swp
node_modules/
nvim/.config/nvim/.netrwhist
out/
tmux/.config/tmux/plugins
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo*

obs/.config/obs-studio/*
!obs/.config/obs-studio/basic
obs/.config/obs-studio/basic/profiles/wamberg/service.json
