### 'const' assignment ###
snippet c==>
const $1 = ($2) => {
  $3
};
endsnippet

snippet c=
const $1 = $2;
endsnippet

snippet c=s
const $1 = '$2';
endsnippet

snippet c=o
const $1 = {$2};
endsnippet

snippet c=a
const $1 = [$2];
endsnippet

snippet c=r
const $1 = require('$2');
endsnippet

### Browser ###
snippet imp
import $1 from '$2';
endsnippet
