input {
  keyboard {
    xkb {
      layout "us"
    }
  }
}

layout {
  gaps 4
  center-focused-column "never"

  preset-column-widths {
      // Proportion sets the width as a fraction of the output width, taking gaps into account.
      // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
      // The default preset widths are 1/3, 1/2 and 2/3 of the output.
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
  }
  focus-ring {
      width 2
      active-color "#7fc8ff"
      inactive-color "#505050"
  }
}

spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "wlsunset" "-l" "30" "-L" "-100"
spawn-at-startup "xwayland-satellite"

prefer-no-csd
window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  // applications
  Super+Space hotkey-overlay-title="fuzzel" { spawn "fuzzel"; }
  Alt+C hotkey-overlay-title="chrome" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "google-chrome" "google-chrome-stable";
  }
  Alt+F hotkey-overlay-title="firefox" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "firefox-developer-edition";
  }
  Alt+K hotkey-overlay-title="kitty" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "kitty";
  }
  Alt+Shift+K hotkey-overlay-title="New kitty" { spawn "kitty"; }
  Alt+P hotkey-overlay-title="1password" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "1Password" "env" "DISPLAY=:1" "1password";
  }
  Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

  ////
  // column actions
  Mod+O repeat=false { toggle-overview; }
  Mod+C { center-column; }
  Mod+R { switch-preset-column-width; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+F { expand-column-to-available-width; }
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-or-workspace-down; }
  Mod+K     { focus-window-or-workspace-up; }
  Mod+L     { focus-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }
  Mod+WheelScrollDown      { focus-column-right; }
  Mod+WheelScrollUp       { focus-column-left; }
  Mod+Shift+WheelScrollDown { move-column-right; }
  Mod+Shift+WheelScrollUp  { move-column-left; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  ////
  // screenshot actions
  Print hotkey-overlay-title="Full Screen Screenshot to File" { spawn "sh" "-c" "grim /tmp/screenshot-$(date +%Y%m%d-%H%M%S).png"; }
  Shift+Print hotkey-overlay-title="Select Area Screenshot to File" { spawn "sh" "-c" "grim -g \"$(slurp)\" /tmp/screenshot-$(date +%Y%m%d-%H%M%S).png"; }
  Ctrl+Print hotkey-overlay-title="Full Screen Screenshot to Clipboard" { spawn "sh" "-c" "grim - | wl-copy"; }
  Ctrl+Shift+Print hotkey-overlay-title="Select Area Screenshot to Clipboard" { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

  ////
  // workspace actions
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
}
