input {
  keyboard {
    xkb {
      layout "us"
    }
  }
}

layout {
  gaps 4
}

spawn-at-startup "waybar"
spawn-at-startup "mako"

binds {
  Mod+Return { spawn "kitty"; }
  Mod+D { spawn "fuzzel"; }
  Mod+Q { close-window; }
}
