input {
  keyboard {
    numlock
    xkb {
      layout "us"
    }
  }
}

layout {
  gaps 4
  center-focused-column "never"

  preset-column-widths {
      // Proportion sets the width as a fraction of the output width, taking gaps into account.
      // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
      // The default preset widths are 1/3, 1/2 and 2/3 of the output.
      proportion 0.38
      proportion 0.5
      proportion 0.62
  }
  focus-ring {
      width 2
      active-color "#7fc8ff"
      inactive-color "#505050"
  }
}

gestures {
  hot-corners {
    off
  }
}

workspace "1"
workspace "2"
workspace "3"

// Default rule for all applications until overridden
window-rule {
  default-column-width { proportion 0.38; }
}

// START custom rules for specific apps
window-rule {
  match app-id="kitty"
  default-column-width { proportion 0.62; }
  open-on-workspace "1"
}

window-rule {
  match app-id="firefox-developer-edition"
  open-on-workspace "1"
}

window-rule {
  match app-id="obsidian"
  default-column-width { proportion 0.62; }
}

window-rule {
  match app-id="Slack"
  open-on-workspace "2"
}

window-rule {
  match app-id="discord"
  open-on-workspace "2"
}

window-rule {
  match app-id="org.telegram.desktop"
  default-column-width { proportion 0.2; }
  open-on-workspace "2"
}

window-rule {
  match app-id="feh"
  default-column-width { proportion 0.64; }
  default-window-height { proportion 0.36; }
  open-floating true
}

window-rule {
  match app-id="mpv"
  default-column-width { proportion 0.38; }
  default-window-height { proportion 0.21376; }
  open-floating true
}
// END custom rules for specific apps

spawn-at-startup "mako"
spawn-at-startup "wlsunset" "-l" "30" "-L" "-100"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "sh" "-c" "swaybg -i \"$(find /home/wamberg/pics/wallpaper/ -type f | shuf -n 1)\""
spawn-at-startup "v4l2-ctl" "-d" "/dev/video1" "--set-ctrl=zoom_absolute=170"
spawn-at-startup "/home/wamberg/.bin/chat-notification-daemon.sh"

prefer-no-csd
window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

hotkey-overlay {
  skip-at-startup
}

binds {
  ////
  // applications
  Super+Space hotkey-overlay-title="fuzzel" { spawn "fuzzel"; }
  Alt+B hotkey-overlay-title="ebook reader" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "calibre-ebook-viewer";
  }
  Alt+C hotkey-overlay-title="chrome" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "google-chrome" "google-chrome-stable";
  }
  Alt+D hotkey-overlay-title="discord" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "discord";
  }
  Alt+F hotkey-overlay-title="firefox" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "firefox-devedition";
  }
  Alt+K hotkey-overlay-title="kitty" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "kitty";
  }
  Alt+Shift+K hotkey-overlay-title="New kitty" { spawn "kitty"; }
  Alt+N hotkey-overlay-title="obsidian" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "obsidian";
  }
  Alt+P hotkey-overlay-title="1password" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "1password" "env" "DISPLAY=:1" "1password";
  }
  Alt+S hotkey-overlay-title="slack" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "Slack" "slack";
  }
  Alt+T hotkey-overlay-title="telegram" {
    spawn "/home/wamberg/.bin/,niri-run-raise-or-rotate.sh" "org.telegram.desktop" "Telegram";
  }
  Alt+W hotkey-overlay-title="Toggle Waybar" { spawn "sh" "-c" "pkill waybar || waybar &"; }

  ////
  // power
  Mod+Ctrl+Shift+L hotkey-overlay-title="Lock Display" {
    spawn "sh" "-c" "swaylock &";
  }
  Mod+Ctrl+Shift+P hotkey-overlay-title="Power Menu" {
    spawn "sh" "-c" "systemctl $(printf \"poweroff\\nreboot\\nhibernate\" | fuzzel --dmenu)";
  }

  ////
  // menus
  Mod+7 hotkey-overlay-title="A/V menu" {
    spawn "/home/wamberg/.bin/fuzzel/audio-video-menu.sh";
  }
  Mod+8 hotkey-overlay-title="Theme menu" {
    spawn "/home/wamberg/.local/bin/theme-menu.sh";
  }
  Mod+9 hotkey-overlay-title="Wallpaper menu" {
    spawn "/home/wamberg/.local/bin/wallpaper-menu.sh";
  }

  ////
  // column actions
  Alt+Tab repeat=false { focus-window-previous; }
  Mod+Tab repeat=false { toggle-overview; }
  Mod+C { center-column; }
  Mod+R { switch-preset-column-width; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+F { expand-column-to-available-width; }
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Q { close-window; }

  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-or-workspace-down; }
  Mod+K     { focus-window-or-workspace-up; }
  Mod+L     { focus-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down-or-to-workspace-down; }
  Mod+Shift+K     { move-window-up-or-to-workspace-up; }
  Mod+Shift+L     { move-column-right; }
  Mod+WheelScrollDown      { focus-column-right; }
  Mod+WheelScrollUp       { focus-column-left; }
  Mod+Shift+WheelScrollDown { move-column-right; }
  Mod+Shift+WheelScrollUp  { move-column-left; }

  Mod+Comma  { consume-or-expel-window-left; }
  Mod+Period { consume-or-expel-window-right; }
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  ////
  // screenshot actions
  Print hotkey-overlay-title="Select Area Screenshot to Clipboard" {
    spawn "sh" "-c" "grim -g \"$(slurp)\" - | swappy -f - -o - | pngquant - | wl-copy";
  }

  ////
  // media keys
  XF86AudioMute        hotkey-overlay-title="Toggle Mute"    { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }
  XF86AudioRaiseVolume hotkey-overlay-title="Volume Up"      { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%"; }
  XF86AudioLowerVolume hotkey-overlay-title="Volume Down"    { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%"; }
  XF86AudioPlay        hotkey-overlay-title="Play/Pause"     { spawn "playerctl" "play-pause"; }
  XF86AudioNext        hotkey-overlay-title="Next Track"     { spawn "playerctl" "next"; }
  XF86AudioPrev        hotkey-overlay-title="Previous Track" { spawn "playerctl" "previous"; }

  ////
  // workspace actions
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+W       {
    spawn "sh" "-c" "swaybg -i \"$(find /home/wamberg/pics/wallpaper/ -type f | shuf -n 1)\"";
  }

  Mod+Shift+Slash { show-hotkey-overlay; }
}
