## {{scheme-name}} theme
## by {{scheme-author}}
## Source: https://github.com/dark-beep-boop/base16-fuzzel (MIT License)

background={{base00-hex}}ff
text={{base05-hex}}ff
match={{base0D-hex}}ff
selection={{base03-hex}}ff
selection-text={{base06-hex}}ff
selection-match={{base0D-hex}}ff
border={{base05-hex}}ff
