snippet imp
import $1 from "$2";
endsnippet

snippet =>
($1) => $2
endsnippet

snippet c=>
const $1 = ($2) => {
  $3
};
endsnippet

snippet c=
const $1 = $2;
endsnippet

snippet l=
let $1 = $2;
endsnippet

snippet it
it("$1", () => {
  // arrange
  $2
  // act
  // assert
});
endsnippet

snippet cl
console.log(\`$1: ${$1}\`)
endsnippet

snippet clj
console.log(\`$1: ${JSON.stringify($1)}\`)
endsnippet

snippet anc
<a href="$1" style="color: #2286C9; text-decoration: none">$2</a>">
endsnippet
