[Unit]
Description=Create tmux sessions for bazaar and garden
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=%h/.bin:%h/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=%h/.bin/,freya-sessions.sh

[Install]
WantedBy=default.target
