@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 14pt;
    min-height: 0;
}
window#waybar {
    opacity: 0.9;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}
#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.focused,
#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}
#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#clock {
    padding: 0 4px;
    background: @background-darker;
}
.modules-right {
    padding-right: 30px;
}

#custom-virtual-camera,
#custom-desktop-recording,
#custom-audio-recording {
    margin-right: 8px;
}

#custom-virtual-camera.inactive,
#custom-desktop-recording.inactive,
#custom-audio-recording.inactive {
    opacity: 0;
    margin: 0;
    padding: 0;
}

#custom-virtual-camera.recording {
    color: @green;
}

#custom-desktop-recording.recording,
#custom-audio-recording.recording {
    color: @red;
}

#custom-slack-notifications {
    background-image: url("/usr/share/pixmaps/slack.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    padding: 0 20px;
}

#custom-telegram-notifications {
    background-image: url("/usr/share/icons/hicolor/32x32/apps/org.telegram.desktop.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    padding: 0 20px;
}

#custom-slack-notifications.hidden,
#custom-telegram-notifications.hidden {
    background-image: none;
    min-width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#custom-slack-notifications.unread,
#custom-telegram-notifications.unread {
    animation: pulse 2s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1.0;
    }
}

#pulseaudio {
    margin-right: 15px;
}

#custom-power {
    margin-left: 15px;
}
