snippet refl
## Reflections

### Accomplishments

What incremental progress did I make?

-

### Decisions

Describe a problem. Describe what I know and what I could have learned more about, but chose not to. Record the decision.

-

### Obstacles

Where am I stuck?

-
endsnippet
